<template>
    <div class="container">
      <div class="row">
      <div class="col-md-2 col-lg-2 col-xs-0 col-sm-0"></div>
      <div class="table-responsive col-md-8 col-lg-8 col-xs-12 col-sm-12" style="margin-top:5em">
    
      <h2>Delete codeword set on working</h2>
              
  
    </div>
    <div class="col-md-2 col-lg-2 col-xs-0 col-sm-0"></div>
    </div></div>
</template>


<style>
#message{
    margin-top:5em;
}
</style>